body{
margin:0;
background:black;
color:white;
font-family:Arial;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:80px;
letter-spacing:3px;
}

.hero p{
font-size:22px;
color:#caa64a;
max-width:900px;
}

.section{
padding:100px;
max-width:900px;
margin:auto;
}

.networth{
text-align:center;
}

.worth{
font-size:90px;
color:#caa64a;
margin-top:40px;
}
